@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0%;
    font-family: "Oswald", serif;
    font-weight: 600;
}
.header{
    color: #fff;
    display: flex;
    font-size: 40px;
    background-color: #b30000;
    padding-bottom: 5px;
    z-index: 0;
}
@media (max-width:1300px) {
    .header p{
        position: relative;
        left: 500px;
    }
}
@media (max-width:800px) {
    .header p{
        position: relative;
        left: 300px;
    }
}
@media (max-width:750px) {
    .header p{
        position: relative;
        left: 250px;
    }
}
@media (max-width:500px) {
    .header p{
        position: relative;
        left: 200px;
    }
}
.header p{
    margin-left: 10px;
}
.bx{
    font-size: 30px;
    margin: 0px 5px 0px 5px;
}


@media (max-width:1300px) {
    .user{
        visibility: hidden;
    }
}
.user{
    position: absolute;
    right: 1%;
}
.user button:hover{
    background-color: #850000;
    border-radius: 5px;
}


button{
    font-size: 30px;
    color: #ffffff;
    border: none;
    background-color: #b30000;
    padding:5px;
}
@media (max-width:1300px) {
    .dropdown{
        visibility: hidden;
    }
}
.dropdown {
    position: relative;
    left: 400px;
  }
.dropbtn {
    background-color: #b30000;
    color: white;
    padding: 16px;
    font-size:30px;
    border: none;
    cursor: pointer;
  }
  .dropdown:hover .dropbtn {
    background-color: #850000;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
img{
    max-width: 100%;
}
.footer{
    background-color: #b30000;
    display: flex;
}
.brand{
    color: #fff;
    display: block;
    margin: 0px 50px;
}
.brand a{
    color: #fff;
    text-decoration: none;
}
.contact{
    color: #fff;
    display: block;
    margin: 0px 50px;
}
.contact img{
    width: 50px;
}