@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0%;
    font-family: "Oswald", serif;
    font-weight: 600;
}
.header{
    color: #fff;
    display: flex;
    font-size: 40px;
    background-color: #b30000;
    padding-bottom: 5px;
    z-index: 0;
}
@media (max-width:1300px) {
    .header p{
        position: relative;
        left: 500px;
    }
}
@media (max-width:800px) {
    .header p{
        position: relative;
        left: 300px;
    }
}
@media (max-width:750px) {
    .header p{
        position: relative;
        left: 250px;
    }
}
@media (max-width:500px) {
    .header p{
        position: relative;
        left: 50px;
    }
}
.header p{
    margin-left: 10px;
}
.bx{
    font-size: 30px;
    margin: 0px 5px 0px 5px;
}

.user{
    display: inline-block;
    position: absolute;
    right: 10px;
}
.user button:hover{
    background-color: #850000;
    border-radius: 5px;
    box-shadow: #000000 0px 2px 3px;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
#login{
    position: relative;
    right: 50px;
    font-size: 20px;
    margin-top:30px;
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
    background-color: #b30000;
    animation: float 2s infinite ease-in-out;
}
#login a{
    font-size: 15px;
}

button{
    font-size: 30px;
    color: #ffffff;
    border: none;
    background-color: #b30000;
    padding:5px;
}
@media (max-width:1300px) {
    .dropdown{
        display: none;
    }
}
.dropdown {
    position: relative;
    left: 400px;
  }
.dropbtn {
    background-color: #b30000;
    color: white;
    padding: 16px;
    font-size:30px;
    border: none;
    cursor: pointer;
  }
  .dropdown:hover .dropbtn {
    background-color: #850000;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
img{
    max-width: 100%;
}

.footer{
    background-color: #b30000;
    display: flex;
}
@media (max-width:500px) {
    #brand{
        display: inline-block;
        font-size: 15px;
    }
}
#brand{
    color: #fff;
    display: inline;
    padding: 0px 20px;
}
#brand a{
    color: #fff;
    text-decoration: none;
}
@media (max-width:500px) {
    #back{
        display: inline-block;
        font-size: 15px;
    }
}
#back{
    color: #fff;
    display: inline;
    padding: 0px 20px;
}
#back a{
    color: #fff;
    text-decoration: none;
}
@media (max-width:500px) {
    #menber{
        display: inline-block;
        font-size: 15px;
    }
}
#menber{
    color: #fff;
    display: inline;
    padding: 0px 20px;
}
#menber a{
    color: #fff;
    text-decoration: none;
}
@media (max-width:500px) {
    #contact{
        display: inline-block;
        font-size: 15px;
    }
}
#contact a{
    color: #fff;
    text-decoration: none;
}
@media (max-width:500px) {
    .contact{
        display: block;
        font-size: 15px;
        padding: 0px 20px;
    }
}
.contact{
    color: #ffffff;
    padding-left: 50px;
}
.contact img{
    width: 30px;
}